<div class="row no-touch video-player" data-id="{{ id }}" id="video-div-{{ id }}">
    <h2 class="video-title">{{ video-hed }}</h2>
    <div class="col-md-8">
        <div class="player pointer"></div>
        <div class='player-progress-wrapper'><div class='player-progress'></div></div>
    </div>
    <div class="col-md-4">
        <div class="player-list-of-videos"></div>
        <hr>
        <i class="fa fa-twitter"></i>
        <a href="https://twitter.com/intent/tweet?text=Video: An interview with {{ video-hed }} about the UT Tower shooting: http://projects.statesman.com/interviews.html#video-div{{id}}?ref=twitter" target="_blank">Share on Twitter</a><br>
        <i class="fa fa-facebook-square"></i>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://projects.statesman.com/interviews.html#video-div{{id}}?ref=fb" target="_blank">Share on Facebook</a>
    </div>
</div>
