<div class="sider panel panel-default sider-social">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-facebook-square"></i> On Facebook</h3>
  </div>
  <div class="panel-body">
    <div class="media">
      <a class="media-left media-top" href="#">
        <img src="{{image}}"/>
      </a>
      <div class="media-body">
        <p><strong>{{name}}</strong></p>
        <p><a href="https://facebook.com/{{screen_name}}" target="_blank">facebook.com/{{screen_name}}</a></p>
      </div>
    </div>
    <p class="post"><i class="fa fa-quote-left"></i>{{text}}<i class="fa fa-quote-right"></i></p>
    <ul class="list-inline text-center">
      <li><a href="https://www.facebook.com/{{screen_name}}/posts/{{id}}" target="_blank"><small><i class="fa fa-comments"></i> Join the conversation</small></a></li>
    </ul>
  </div>
</div>
