<div class="panel panel-default indextease">
  {{!-- <div class="panel-heading">
    <h3 class="panel-title">{{#if title}}{{title}}{{else}}More on this story{{/if}}</h3>
  </div> --}}
  <div class="panel-body">
    <div class="document-img"><a href="{{storyUrl}}"><img class="img-responsive" src="{{imageUrl}}" /></a></div>
    <h3><a href="{{storyUrl}}">{{headline}}</a></h3>
    <p>{{text}}</p>
  </div>
</div>
