<div class="sider panel panel-default sider-social sider-twitter">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-twitter"></i> On Twitter</h3>
  </div>
  <div class="panel-body">
    <div class="media">
      <a class="media-left media-top" href="https://twitter.com/intent/follow?screen_name={{screen_name}}" target="_blank">
        <img src="{{image}}"/>
      </a>
      <div class="media-body">
        <p><strong>{{name}}</strong></p>
        <p><a href="https://twitter.com/intent/follow?screen_name={{screen_name}}" target="_blank">@{{screen_name}}</a></p>
      </div>
    </div>
    <p class="tweet"><i class="fa fa-quote-left"></i>{{text}}<i class="fa fa-quote-right"></i></p>
    <ul class="list-inline text-center">
      <li><a href="https://twitter.com/intent/favorite?tweet_id={{id}}"><small><i class="fa fa-star"></i> Favorite</small></a></li>
      <li><a href="https://twitter.com/intent/retweet?tweet_id={{id}}"><small><i class="fa fa-retweet"></i> Retweet</small></a></li>
      <li><a href="https://twitter.com/intent/tweet?in_reply_to={{id}}"><small><i class="fa fa-reply"></i> Reply</small></a></li>
    </ul>
  </div>
</div>
